@import "tailwindcss";

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}



:root {
  /* Brand Colors */
  --color-primary: #CF0F0F;
  --color-secondary: #F79A19;
  --color-tertiary: #FFE52A;
  --color-background: #BBCB64;

  /* Text */
  --color-text-main: #292524; /* stone-800 */
}

